.email_send{
    padding: 7px;
    margin: 1vw;
    font-weight: bold;
    width: 395px;
    font-size: 2vh;
    margin-left: 3px;
    background-color: #06f;
    color:white;
    margin-top: 8vh;
}
.unsend{
    padding: 7px;
    margin: 1vw;
    font-weight: bold;
    width: 395px;
    font-size: 2vh;
    margin-left: 3px;
    color: #929292;
    margin-top: 8vh;
}