.useprentation{
    margin-top: 5vh;

    >.checkbox{
        margin-top: 16px;
        float: right;
        }
    }

    .useprentation1{

        >.checkbox1{
            margin-top: 16px;
            float: right;
            }
        }
    
