.sign-up{
    text-align: center;
    line-height: 8vh;
    .sign-up-textfield{
        margin-top: 8vh;
        .sign_id{
            font-weight: bold;
            float: left;
            margin-top:  -6vh;
        }
           > .sign-up-textfield-userid{
                background-color: white;
                margin-top: -2vh;
                fieldset {
                    border-color: #8383f5 !important;
                }
            }

            .sign_password{
                font-weight: bold;
                float: left;
                margin-top:  -6vh;
            }

            > .sign-up-textfield-userid1{
                margin-top: -2vh;
                background-color: white;

                fieldset {
                    border-color: #8383f5 !important;
                }
            }

            .sign_passwordsame{
                font-weight: bold;
                margin-top:  -6vh;
                float: left;
            }

            > .sign-up-textfield-userid2{
                background-color: white;
                margin-top: -2vh;

                fieldset {
                    border-color: #8383f5 !important;
                }
            }

            .sign_email{
                font-weight: bold;
                float: left;
                margin-top:  -6vh;
            }
            
            > .sign-up-textfield-userid3 {
                background-color: white;
                margin-top: -2vh;

                fieldset {
                    border-color: #8383f5 !important;
                }
            }
           
    }
    .Sign-up-Button{
        margin-top: -27px;

        .email_send{
            padding: 7px;
            margin: 1vw;
            font-weight: bold;
            width: 395px;
            font-size: 2vh;
            margin-left: 3px;
            background-color: #06f;
            color:white;
            margin-top: 6vh;
        }

        .unsend{
            padding: 7px;
            margin: 1vw;
            font-weight: bold;
            width: 395px;
            font-size: 2vh;
            margin-left: 3px;
            color: #929292;
            margin-top: 6vh;
        }

        .sing-up-next {
            margin: -3vh
        }
        .sign_back_login{
            right: 0vw;
            margin-top: 0vh;
            font-size: 13px;
            width: 200px;
            height: 35px;
            font-weight: bold;
        }
    }

        .sign-up-sign-up-password {
            margin-top: -1vh;
        }

        .sign-up-text {
            font-size: 12px;
            margin-top: 2vh;

            .sing-up-nextbutton {
                width: 200px
            }
        }
}