
.register-termsofsevice-title-down{
    margin-top: 10vh;
    .register-terms-paper {
        padding: 2vh;
        .register-terms-paper-text-down {
            height: 250px;
            max-width: 600px;
            overflow: auto;
            text-align: left;
        
        }
    }
}