.cbkApp-Asset-tab {
    display: flex;
    justify-content: center;
    background:white;
    border-bottom: 3px solid #ddd;
    margin-right: 5vh;
    margin-top: 3vh;

    .Detail-Set {
        
        font-size: 1.6vh;
        margin: 1vh 6vh 1vh 0;
    }
}
