
.auth-forgot-reset {
    margin-top: 2vh;
    font-weight: bold;
    margin-top: 5vh;
    font-size: 38px;
    margin-left: -0.25vw;
}

.forgotpassword_text {
    margin-top: 2vh;
    .forgotpassword_text_warning {
        font-weight: bold;
    }
}

.auth-forgot-textfield-title {
    padding-bottom: 2.25em;
    margin-top: 3.5vh;

    .auth-forgo-text-email{
        font-weight: bold;
    }
    .emailtext {
        font-size: 1.3vw;
        width: 18vw;
        margin-top: 0.6vh;
    }
}

.email_send {
    font-weight: bold;
    width: 18vw;
    margin: 0vh;
    font-size: 2vh;
    background-color: #06f;
    color:white;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.unsend {
    font-weight: bold;
    width: 18vw;
    margin: 0vh;
    font-size: 2vh;
    color: #929292; 
}

.auth-forgot-loginbutton {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 300px;
    height: 40px;
    margin-top: -5px;

    .auth_maing_login{
        font-size: 1vh;
        left: -4.5vw;
        top: 1vh;
        font-weight: bold;
    }
}

