.LayoutEditor-Head {
    background-color: #ffffff;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    .Search-Info {
        margin: -0.5vh 1vw;

        &:focus {
            outline: none;
        }
    }
}

.LayoutEditor-PresentationDataListTable {
    display: flex;
    flex-Wrap: wrap;
    justify-Content: space-around;
    background-Color: white;

    .gridList {
        width: 100%;
        height: 100%;
        margin-bottom: 3vh !important;

        li {
            margin: 10px;
            margin-left: 1.7vw;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);
        }

        .PresentationDataListTable-nullData {
            text-align: center;
        }
    }

    .Thumbnail-Client {
        width: 100%;
        height: 100%;

        .imageInfo {
            width: 100%;
            height: 100%;            
        }

        &:hover {
            cursor: pointer;
        }
    }

    .actionSection {
        display: flex;

        .editButton {
            margin-top: 1vh;
            right: 3.8vw;
            position: absolute;
            cursor: pointer;
            margin-right: -0.6vw;
            z-index: 997;

            .editButton-fab {
                background: #2b2b2b !important;
                &:hover {
                    background: #00e2a5 !important;
                }
                .editButton-info {
                    font-size: 1.3em;
                    color: white;
                }
            }
        }

        .deleteButton {
            margin-top: 1vh;
            right: 1.3vw;
            position: absolute;
            cursor: pointer;
            margin-right: -0.6vw;
            z-index: 997;

            .deleteButton-fab {
                background: #2b2b2b !important;
                &:hover {
                    background: #00e2a5 !important;
                }
                .deleteButton-info {
                    font-size: 1.3em;
                    color: white;
                }
            }
        }

        .deleteButton:hover {
            position: absolute;
            opacity: 1;
        }
    }
    
    .icon {
      color: black;
      opacity: 0.5;
    }

}

.LayoutEditor-PresentationDataListTable-editor {
    display: flex;
    flex-Wrap: wrap;
    justify-Content: space-around;

    .gridList {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin-top: 1vh !important;
        padding-left: 0.5vw !important;

        li {
            width: 40% !important;
            height: 11vh !important;
            margin: 10px;
            margin-left: 0.5vw;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);

        }

        .PresentationDataListTable-nullData {
            width: 100% !important;
            margin-top: 1vh;
            margin-left: 1vw;
        }
    }

    .Thumbnail-Client {
        width: 100%;
        height: 100%;

        .imageInfo {
            width: 100%;
            height: 100%;            
        }

        &:hover {
            cursor: pointer;
        }
    }
    
    .icon {
      color: black;
      opacity: 0.5;
    }

}