.LayoutEditor-NavBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 50;

    > .LayoutEditor-NavBar-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5vh;
        color: #333;
        background: #ffffff;

        > .LayoutEditor-NavBar-info {
            display: flex;
            position: fixed;
            right: 0;
            margin-right: 3vw;
            color: rgb(99, 99, 99);

            .LayoutEditor-Language-Change {
                align-self: center;
                font-weight: bold;
                margin-right: 1.5vw;
                padding-top: 0.5vh;

                .LayoutEditor-Language-Change-Icon {
                    font-size: 2em;
                    margin-right: 0.5vw;
                    margin-top: 0.3vh;
                }
            }

            .LayoutEditor-NavBar-MyInfo {
                display: flex;
                padding-bottom: 0.7vh;

                .LayoutEditor-NavBar-MyInfo-Icon {
                    font-size: 2.5em;
                    margin-top: 1vh;
                    margin-right: 1.3vw;
                    cursor: pointer;
                }
            }
        }

        
    }
}
