.cbkApp-DataListTable {
    background: #fff;
    border-radius: 4px;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin-right: 3vw;
    margin-left: 1vw;

    table {
        position: relative;

        tr.table-overlay-msg {
            transition: opacity 100ms ease-in-out;
            user-select: none;
            pointer-events: none;

            td {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
                background-color: rgba(255, 255, 255, 0.75);
            }
        }

        tr.table-overlay-msg-dummy {
            td {
                height: 200px;
            }
        }
    }

    // Pagination
    .table-pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        height: 56px;
        min-height: 56px;
        user-select: none;

        // Pagination : Per-page
        .pagination-perpage {
            margin-right: 10px;

            > span {
                margin-right: 5px;
                color: rgba(0, 0, 0, 0.6);
                font-size: 13px;
            }

            > .perpage-select {
                color: rgba(0, 0, 0, 0.6);
                font-size: 13px;

                &::before,
                &::after {
                    border: 0 !important;
                }
            }
        }

        // Pagination : Item range
        .pagination-range {
            margin-right: 10px;

            > span {
                margin-right: 5px;
                color: rgba(0, 0, 0, 0.6);
                font-size: 13px;
                vertical-align: text-top;
            }
        }

        // Pagination : Button
        .pagination-button {
            > button svg {
                width: 1em;
                height: 1em;
                font-size: 16px;
            }
        }
    }
}
