.cbkApp-AuthTab {
    width: 100%;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    button {
        &[aria-selected='false'] {
            background: #ccc;

            &:nth-child(1) {
                box-shadow: inset -3px -3px 5px 1px #bbb;
            }

            &:nth-child(2) {
                box-shadow: inset 3px -3px 5px 1px #bbb;
            }
        }

        > span {
            font-size: 1.1em;
        }
    }

    div[role='tablist'] > span {
        opacity: 0;
    }
}
